.idea/
*.iml
target/
dependency-reduced-pom.xml
access.log
/service-app/src/html/dist/*
node_modules/
*.log
.DS_Store
npm-debug.log
.classpath
.settings
.project
localfiles/
.vscode/*
src/main/html/dist/
/src/main/resources/webroot/
/log-archived/
